p {
  color: white;
  font-size: 5em;
  text-align: center
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 200px;
  margin-left: 300px;

}

h1 {
  color: ;
  font-size: 4em;
  font-weight: bold;
}


#two{color: 59CBDF; font-size: 1em}

#img{  margin-left: 300px;}
